@import "style.css";
:root {
  --scrollcolor: #FDA657;
  --scrollbackground: #be4713;
  --shadowCard: 0 54px 55px rgba(0, 0, 0, 0.25), 0 -12px 30px rgba(0, 0, 0, 0.12), 0 4px 6px rgba(0, 0, 0, 0.12), 0 12px 13px rgba(0, 0, 0, 0.17), 0 -3px 5px rgba(0, 0, 0, 0.09);


}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: #180148;
}

.title {
  font-size: 2.5rem;
  font-family: system-ui;
  line-height: 1.1;
  font-weight: 300;
  color: #fff;
  margin: 4rem auto 1rem;
  width: 85%;
  max-width: 1280px;
}

.slider {
  width: 100% !important;  /* Adjust this to change the width of the slider */
  max-width: 800px !important;
  margin: 0 auto;
    overflow: hidden;

}

.slider__content {
  overflow-x: scroll;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: x mandatory;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  scrollbar-color: var(--scrollcolor) var(--scrollbackground);
}
.slider__content::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 5rem;
  background: var(--scrollbackground);
}
.slider__content::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--scrollcolor);
}
.slider__content::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: var(--scrollbackground);
}

.slider__item {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 37% !important;/* Adjust this to change the width of each item */
  width: 100% !important;
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  aspect-ratio: 2/3;
  border: 1px solid #000;

}
@media (max-width: 940px) {
  h2 {
    color: #1f1101 !important;
    margin: 0 auto !important;
  }
}
@media (min-width: 940px) {
  .slider__item {
    min-width: calc((100% / 3) - 4rem);
  }
}

.slider__image {
  display: block;
  width: 100% !important; /* Adjust this to change the width of the image */
  height: 100% !important;
  -o-object-fit: fill;
     object-fit: fill;
  position: absolute;
  aspect-ratio: 2/3;
  top: 0;
  left: 0;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, .7));
    mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
}

.slider__info {
  position: relative;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(32, 50, 57, 0));
}
.slider__info h2 {
  color: #000;
  font-family: system-ui;
  line-height: 1.1;
  font-weight: 700;
  font-size: 1.25rem;
}

.slider__item:hover .slider__info h2{
  font-size: 1.50rem ;
}

.slider__nav {
  margin: 1rem;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-content: center;
  align-items: center;
  pointer-events: none;
}
@media (min-width: 460px) {
  .slider__nav {
    justify-content: flex-end;
  }
}

.slider__nav__button {
  margin: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: 2rem;
  background: #ffb36d;
  color: #000000;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1;
  pointer-events: none;
  transition: 0.2s ease-out;
  opacity: 0.75;

}
.slider__nav__button--active {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

.btt {
    background-color: #FDA657;
    border-radius: 15px
}

.navbar-item:hover{
    background-color: transparent !important;
    font-size: 20px;
}
.card{
  max-width: 80% !important;
  margin: 0 auto;
}

.card-image{
  border-radius: 15px;
  box-shadow: var(--shadowCard);
}



.main-content {
    display: flex;
    flex-direction: column;
}


* {
    box-sizing: border-box;
    max-width: 100%;
}

.estado{
  padding: 5px;
  width: 100%;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  background-color: #FFA757;
  font-weight: 700;
  border: 1px transparent;
  border-radius: 5px;
}

#search-container{
    display: flex;
    justify-content: center;
    align-items: center;
  margin-left: 10px;
}
input#search-input{
    height: 30px;
  align-content: center;
  border-color: black;
  font-size: 14px;
}
input#search-input:hover, input#search-input:focus{
    border-color: black;
  box-shadow: none;
}
