@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@500&display=swap');

body {
    font-family: "Manrope", sans-serif;
    min-height: 100vh !important;
    margin: 0 !important;
}
.fondo {
    background-image: url("/static/img/fondo_registro_login.png");
}
li {
    list-style-type: circle;
    padding: 4px;
}
.mali {
    font-family: "Mali", cursive;
}
.letter-spacing {
    letter-spacing: 5px;
}

.icons {
    width: 24px;
    height: 24px;
}
.blanco {
    color: white;
}
.header-gradient {
    background: rgb(251, 117, 45);
    background: linear-gradient(90deg, rgba(251, 117, 45, 1) 0%, rgb(224, 91, 32) 50%, rgb(206, 104, 56) 80%);
}
.card-gradient {
    background: rgb(251, 117, 45);
    background: linear-gradient(180deg, rgba(251, 117, 45, 1) 0%, rgba(116, 76, 76, 1) 100%);
}
.bg_footer {
    background: #FFB36D;
    border: none;
}
.input {
    border: 2px solid #842507;
    background-color: #F2D9CD;
    font-size: 18px;
}
.input:hover {
    border: 2px solid #842507;
}
.input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}
.register {
    color: #FFC803;
}
.register:hover {
    font-size: 19px;
    color: #ffea00;
}
.blanco:hover {
    font-size: 18px;
}
a {
    color: black;
}

@keyframes placeholderMove {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

.place::placeholder {
    animation: placeholderMove 2s infinite !important;
}

.vinculada {
    -webkit-box-shadow: 15px 15px 20px 0px rgba(0, 255, 34, 0.75);
    -moz-box-shadow: 15px 15px 20px 0px rgba(0, 255, 34, 0.75);
    box-shadow: 15px 15px 20px 0px rgba(0, 255, 34, 0.75);
    /*box-shadow: 0 0 10px 5px #00ff00;  !* Ajusta el color y el tamaño de la sombra como desees *!*/
    border-radius: 20%;
}

.no-vinculada {
    -webkit-box-shadow: 15px 15px 20px 0px rgba(102, 102, 102, 1);
    -moz-box-shadow: 15px 15px 20px 0px rgba(102, 102, 102, 1);
    box-shadow: 15px 15px 20px 0px rgba(102, 102, 102, 1);
    border-radius: 20%;
}


.notificacion{
    position: fixed !important;
    top: 5px ;
    right: 5px ;
    background-color: rgba(255, 0, 0, 0.7) !important;
    font-size: 15px !important;
    text-align: end;
}