<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Películas</title>
    <link rel="stylesheet" href="/static/bulma/css/style.css">
    <script src="https://kit.fontawesome.com/b9d5886cee.js" crossorigin="anonymous"></script>
</head>
<body style="background-color: #FFE8D3" class="is-fullheight">
    {% load static %}
    {% block content %}
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: #FFE8D3">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    <img src="/static/img/logo_sinfondo%201-min.svg" alt="">
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                   data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item">
                        Inicio
                    </a>

                    <a class="navbar-item">
                        Películas
                    </a>
                    <a class="navbar-item">
                        Series
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Usuarios
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                Mensajes
                            </a>
                            <a class="navbar-item is-selected">
                                Foro
                            </a>
                            <a class="navbar-item">
                                Favoritos
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">
                                Reportes
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="peliculas ">
        <h2 class="is-size-2 container">Películas</h2>
        <div class="box container" >
            <h4>Modificar series:</h4>
            <form method="post" action="{% url 'editar_pelicula'   id=pelicula.id %}">%}">
                  {% csrf_token %}
                <div class="field columns mt-1">
                    <div class="column">
                        <label class="label">Nombre</label>
                      <div class="control">
                        <input class="input" type="text" placeholder="Nombre de la película" name="nombre" value="{{ pelicula.nombre }}">
                      </div>
                        <label class="label">Sinopsis</label>
                      <div class="control">
                        <input class="input" type="text" placeholder="Sinopsis de la película" name="sinopsis" value="{{ pelicula.sinopsis }}">
                      </div>
                    </div>
                    <div class="column">
                        <label class="label">Fecha de estreno</label>
                      <div class="control">
                        <input class="input" type="text" placeholder="Fecha de estreno de la película" name="fecha_estreno" value="{{ pelicula.fecha_estreno | date:'Y-m-d' }}">
                      </div>
                    <label class="label">Imagen</label>
                      <div class="control">
                        <input class="input" type="text" placeholder="Imagen de la película" name="img" value="{{ pelicula.img }}">
                      </div>
                    </div>
                    <div class="column">
                        <label class="label">Trailer</label>
                      <div class="control">
                        <input class="input" type="text" placeholder="Url del trailer de la película" name="url_trailer" value="{{ pelicula.url_trailer }}"> 
                      </div>
                    <label class="label">Director</label>
                      <div class="control">
                        <input class="input" type="text" placeholder="Nombre del director la película" name="director" value="{{ pelicula.director }}">
                      </div>
                    </div>
                </div>
                <div class="field is-grouped is-grouped-centered">
                      <p class="control">
                          <button class="button is-primary" type="submit">
                          Editar
                          </button>
                      </p>
                      <p class="control">
                        <a class="button is-light">
                          Cancelar
                        </a>
                      </p>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}
</body>
</html>