<!-- Footer -->
    <footer class="bg_footer is-align-items-center pb-3">
      <main class="columns is-align-items-center">
        <div class="column is-flex is-align-items-center has-text-centered">
          <div class="container is-flex is-flex-direction-column is-align-items-center">
            <p class="is-size-4 mali">Contacta con nosotros</p>
            <div class="redes pt-2">
              <a href="" class="pr-3 link"><i class="fa-brands fa-facebook fa-2x"></i></a>
              <a href="" class="pl-2 pr-2 link"><i class="fa-brands fa-instagram fa-2x"></i></a>
              <a href="" class="pl-3 link"><i class="fa-brands fa-x-twitter fa-2x"></i></a>
            </div>
              <div class="has-text-justified pt-2">
                 <i class="fa-regular fa-envelope pr-3 fa-lg pt-1 has-text-black"></i>
                 <a href="mailto:onlywatch.info@gmail.es" class="link is-size-6">onlywatch.info@gmail.es</a>
              </div>
          </div>
        </div>
      </main>
    </footer>