<!-- Footer -->
    <footer class="bg_footer is-align-items-center pb-3">
      <main class="columns is-align-items-center">
        <div class="izquierda column is-one-third">
          <div
            class="container is-flex is-flex-direction-column is-align-items-center"
          >
            <section class="level-item is-size-2 is-uppercase has-text-black">
              <img
                src="/static/img/logo_footer.svg"
                alt="Imagen pequeña de una cinta de carrete antigua"
                 class="is-hidden-desktop-only is-hidden-tablet-only"
              />
              <h4 class="pl-4 mali">Onlywatch</h4>
            </section>
            <p class="ml-5 has-text-justified ml-5 has-text-justified pl-5 pr-5">
              Acercamos información de películas y series al alcance de todos,
              para promover la apreciación cultural y el entretenimiento.
            </p>
          </div>
        </div>
        <div
          class="centro column is-one-third is-flex is-align-items-center has-text-centered"
        >
          <div
            class="container is-flex is-flex-direction-column is-align-items-center"
          >
            <p class="is-size-4 mali">Contacta con nosotros</p>
            <div class="has-text-justified">
              <p>
                <i class="fa-solid fa-phone pr-3 fa-lg pb-1"></i>+34 602481007
              </p>
              <p>
                <i
                  class="fa-regular fa-envelope pr-3 fa-lg pt-1 has-text-black"
                ></i
                ><a href="mailto:onlywatch.info@gmail.es" class="link"
                  >onlywatch.info@gmail.es</a
                >
              </p>
            </div>
            <div class="redes pt-2">
              <a href="" class="pr-3 link"
                ><i class="fa-brands fa-facebook fa-2x"></i
              ></a>
              <a href="" class="pl-2 pr-2 link"
                ><i class="fa-brands fa-instagram fa-2x"></i
              ></a>
              <a href="" class="pl-3 link"
                ><i class="fa-brands fa-x-twitter fa-2x"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="derecha column is-one-third">
          <div
            class="container is-flex is-flex-direction-column is-align-items-center"
          >
            <p class="is-size-4 mali">Acerca de</p>
            <ul class="panel-list has-text-justified">
              <li>
                <a href="" class="link has-text-black"
                  >Politica de Privacidad</a
                >
              </li>
              <li>
                <a href="" class="link has-text-black">Aviso de Privacidad</a>
              </li>
              <li>
                <a href="" class="link has-text-black">Politica de Cookies</a>
              </li>
            </ul>
          </div>
        </div>
      </main>
    </footer>