{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OnlyWatch</title>
    <script src="https://kit.fontawesome.com/2eb7a633b0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/bulma/css/style.css" />
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <link rel="icon" href="{% static 'img/logo_sinfondo 1.png' %}">
    <link rel="stylesheet" href="{% static 'css/perfil_usuario.css' %}">
</head>
<body style="background-color: #FFE8D3; overflow-x: hidden;" class="familiy has-text-black">
    {% csrf_token %}
    <!-- Header -->
    <header class="mb-3" style="background-color: transparent">
        <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: transparent">
                <div class="navbar-brand" >
                    <a class="navbar-item image " href="{% url 'peliculas' %}">
                        <img src="/static/img/logo_sinfondo 1.png" alt="" class="is-96x96">
                    </a>
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                       data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                  </div>
                <div  class="navbar-menu">
                    <div class="navbar-start" style="background-color: transparent">
                        <a class="navbar-item has-text-black" href="{% url 'home' %}">
                            Inicio
                        </a>
                        <a class="navbar-item has-text-black" href="{% url 'peliculas' %}">
                            Peliculas
                        </a>
                        <a class="navbar-item has-text-black" href="{% url 'series' %}">
                            Series
                        </a>
                        <a class="navbar-item has-text-black" href=""><i class="fa-solid fa-magnifying-glass "></i></a>
                    </div>
                    <div class="navbar-end" style="background-color: transparent">
                     <div class="navbar-item">
                         <a><i class="fa-regular fa-bell"></i></a>
                     </div>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link is-arrowless" style="background-color: transparent">
                                <div class="button is-size-6 btt">
                                    {% if user.sexo == "NS/NC" %}
                                        <p class="" style="color: #0a0a0a">Bienvenido/a, {{ user.username }}</p>
                                    {% elif user.sexo == "Masculino" %}
                                        <p class="" style="color: #0a0a0a">Bienvenido, {{ user.username }}</p>
                                    {% elif user.sexo == "Femenino" %}
                                        <p class="" style="color: #0a0a0a">Bienvenida, {{ user.username }}</p>
                                    {% endif %}
                                </div>
                            </a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item" href="{% url 'configuracion' %}">
                                    Perfil
                                </a>
                                <hr class="navbar-divider">
                                <div class="navbar-item">
                                    <a class="mr-2" href="{% url 'logout' %}">
                                        Logout
                                    </a>
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                </div>
                            </div>
                    </div>
                 </div>
                </div>
         </nav>
    </header>

