<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/2eb7a633b0.js" crossorigin="anonymous"></script>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body class="manrope">
    <header>
        <img src="/static/img/logoSmall.svg" alt="Logo pequeño de Onlywatch" class="h-14 w-14">
        <h3>Onlywatch</h3>
        <h1>Inicio de Sesion</h1>
    </header>
    <main>
        <section>
            <img src="/static/img/logoSmall.svg" alt="" class="h-28 w-28">
            <p class="font-bold text-base"><span class=" text-xl">ONLYWATCH </span>EXPERIENCIA SIN LIMITES</p>
        </section>
    </main>
    <footer>
        <div class="izquierda">
            <img src="/static/img/logo_footer" alt="Imagen pequeña de una cinta de carrete antigua">
            <strong>Onlywatch</strong>
            <p>Acercamos información de películas y series al alcance de todos, para  promover la apreciación cultural y el entretenimiento.</p>
        </div>
        <div class="centro">
            <strong>Contacta con nosotros</strong>
            <span><i class="fa-solid fa-phone fa-2x"></i> + 34  602 481 007</span>
            <span><i class="fa-regular fa-envelope fa-2x"></i><a href="mailto:onlywatch@gmail.es">onlywatch@gmail.es</a></span>
            <div class="redes">
                <a href=""><i class="fa-brands fa-facebook fa-2x"></i></a>
                <a href=""><i class="fa-brands fa-instagram fa-2x"></i></a>
                <a href=""><i class="fa-brands fa-x-twitter fa-2x"></i></a>
            </div>
        </div>
        <div class="derecha">
            <strong>Acerca de</strong>
            <ul>
                <li>Politica de Privacidad</li>
                <li>Aviso de Privacidad</li>
                <li>Politica de Cookies</li>
            </ul>
        </div>
    </footer>
</body>
</html>