<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/output.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header class="">
        <div class="flex justify-between items-center bg-gradient-to-r from-orange-300 to-orange-800 py-1">
            <div class="flex items-center">
                <img class="ps-2" src="/static/img/logo_sinfondo%201-min.svg" alt="logo">
                <p class="font-manrope ps-2 pt-3">ONLYWATCH</p>
            </div>
            <div class="text-center">
                <p>Inicio de Sesión</p>
            </div>
        </div>
    </header>
</body>
</html>