{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .header {
            background-color: #f8f9fa;
            padding: 20px;
            text-align: center;
        }

        .body {
            margin: 20px;
            font-size: 18px;
        }

        .footer {
            background-color: #f8f9fa;
            padding: 20px;
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body class="m-0 p-0">
<div class="header">
    <figure>
        <img class="image is-128x128" src="{% static 'img/logo_sinfondo 1.png' %}" alt="logo">
    </figure>
</div>
<div class="body">
    <h2>Estimado usuario,</h2>
    <p>Gracias por utilizar nuestro servicio. Como parte de nuestro compromiso continuo con la seguridad, hemos generado
        un código único para ti. Este código te permitirá acceder a nuevas características, recuperar tu cuenta, entre
        otras acciones.</p>

    <p>Tu código es: <strong>{{ codigo }}</strong></p>

    <p>Por favor, no compartas este código con nadie. Es personal y único para tu cuenta.</p>

    <p>Si tienes alguna pregunta o necesitas ayuda, no dudes en ponerte en contacto con nosotros.</p>
</div>
<div class="footer">
    <p>Gracias por usar nuestro servicio.</p>
</div>
</body>
</html>