<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://kit.fontawesome.com/2eb7a633b0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/bulma/css/style.css" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body style="background-color: #FFE8D3" class="familiy has-text-black">
    {% csrf_token %} 
    <!-- Header -->
    <header class="py-4">
      <section class="columns">
        <div class="column is-one-quarter is-flex is-align-content-center">
          <span class="level-item ml-4 is-align-content-center">
            <img src="/static/img/logoSmall.svg" alt="Logo pequeño de Onlywatch" class="is-hidden-mobile"/>
          </span>
          <a class="level-item ml-5 mt-1 is-size-4">Inicio</a>
        </div>
        <div class="column is-one-quarter is-align-content-end">
          <div>
              <p>Bienvenido, <span>{{ user.username }}</span> </p>
          </div>
        </div>
      </section>
    </header>

    <!-- Main -->
    <main class="container mt-5 mb-1">
        <div class="title ml-4 mb-4">
            <h3 class="has-text-black">Elige las plataformas que dispongas de streaming:</h3>
        </div>
        <div class="columns is-multiline is-mobile is-justify-content-center imagenes mt-5">
            {% for plt in plataforma %}
                <div class="column is-2-desktop is-3-tablet is-6-mobile mt-5 mb-5 center-image">
                    <figure class="image is-128x128 imagenes">
                        <img src="{{ plt.img.url }}" alt="{{ plt.nombre }}">
                    </figure>
                </div>
            {% endfor %}
        </div>
        <div class="buttons is-centered">
            <button class="button is-medium mt-5 boton">ACEPTAR</button>
        </div>
    </main>
    <br>

    <!-- Formulario -->
    {% include "footer.html" %}
    <script src="/static/js/index.js"></script>
  </body>
</html>
