{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Registro</title>
    <script src="https://kit.fontawesome.com/2eb7a633b0.js" crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/bulma/css/style.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        #messages-container {
            position: fixed;
            top: 10px;
            right: 10px;
            width: 300px;
            z-index: 1000;
        }

        .notification {
            padding: 10px;
            font-size: 0.875rem;
            margin-bottom: 10px;
        }

        .background-color-1 {
            background-color: #fff2e3;
        }

        .background-color-1 {
            background-color: #FFE5C6;
        }

        @keyframes shrink {
            from {
                width: 100%;
            }
            to {
                width: 0;
            }
        }

        .time-bar {
            background-color: #f00;
            height: 2px;
            animation: shrink 2.4s linear forwards;
        }
    </style>
</head>
<body class="familiy has-text-black section fondo" style="height: 100vh">
<div class="container is-vcentered">
    <div class="columns is-centered is-vcentered">
        <div class="column is-7-tablet is-7-desktop is-5-widescreen is-11-fullhd-only">
            <div class="card-content card-gradient">
                <header class="is-align-content-center is-align-items-center is-justify-content-center">
                    <div class="is-flex is-align-items-center is-justify-content-center mt-3">
                        <a href="{% url 'home' %}">
                            <img src="/static/img/logoSmall.svg" alt="Logo Pequeño de ONLYWATCH" class="image is-96x96"/>
                        </a>
                    </div>
                    <p class="is-bold is-size-5 has-text-centered">
                        <span class="is-size-4">ONLYWATCH</span><br/>
                        Registro
                    </p>
                </header>
                <div class="content">
                    <form action="{% url 'signup' %}" method="POST" class="mt-4 ml-4 mr-4">
                        {% csrf_token %}
                        <div class="field mb-4">
                            <input type="text" name="username" id="username" placeholder="Nombre de usuario" class="input" required/>
                        </div>
                        <div class="field mb-4">
                            <input type="text" name="nombre_completo" id="nombre_completo" placeholder="Nombre y Apellidos" class="input" required />
                        </div>
                        <div class="field mb-4">
                            <input type="email" name="email" id="email" placeholder="Correo Electrónico" class="input" required/>
                        </div>

                        <div class="control has-icons-left">
                            <div class="field has-addons">
                                <div class="control is-expanded">
                                    <input type="password" id="password1" name="password1" placeholder="Contraseña" class="input is-medium is-fullwidth" title="La contraseña debe tener al menos 8 caracteres, incluyendo al menos una letra mayúscula, una letra minúscula, un número y un carácter especial (por ejemplo, !@#$%^&*)." required/>
                                    <span class="icon is-left has-text-black">
                                        <i class="fa-solid fa-lock"></i>
                                    </span>
                                </div>
                                <div class="control">
                                    <button type="button" class="button is-medium" id="togglePasswordVisibility1" style=" border: 2px solid #842507; background-color: #F2D9CD;">
                                        <span class="icon is-small has-text-black">
                                            <i class="fa-solid fa-eye"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="field mt-4 mb-5">
                            <div class="control has-icons-left">
                                <div class="field has-addons">
                                    <div class="control is-expanded">
                                        <input type="password" id="password2" name="password2" placeholder="Repetir Contraseña" class="input is-medium is-fullwidth" required/>
                                        <span class="icon is-left has-text-black">
                                            <i class="fa-solid fa-lock"></i>
                                        </span>
                                    </div>
                                    <div class="control">
                                        <button type="button" class="button is-medium" id="togglePasswordVisibility2" style=" border: 2px solid #842507; background-color: #F2D9CD;">
                                            <span class="icon is-small has-text-black">
                                                <i class="fa-solid fa-eye"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field mt-4 mb-3">
                            <button type="submit" class="bg_footer button is-fullwidth is-size-5" style="height: 52px" value="Save" >
                                <strong class="has-text-centered">Acceder</strong>
                            </button>
                        </div>
                    </form>
                </div>
                <footer>
                    <p class="has-text-centered has-text-white is-size-6"> ¿Dispones de una cuenta? <a href="{% url 'login' %}" class="register">Inicia Sesión</a></p>
                </footer>
            </div>
        </div>
    </div>
</div>
<div id="messages-container">
   {% if messages %}
    <div id="messages-container">
        {% for message in messages %}
            <div class="notification 
                        {% if message.tags %}is-{{ message.tags }}{% else %}is-primary{% endif %}">
                <button class="delete"></button>
                {{ message }}
                <div class="time-bar"></div>
            </div>
        {% endfor %}
    </div>
{% endif %}
</div>


<script src="{% static 'js/mensajes.js' %}"></script>
<script>
</script>

<script src="/static/js/index.js"></script>
</body>

