<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>
    <script src="https://kit.fontawesome.com/2eb7a633b0.js" crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/bulma/css/style.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>

</head>
<body class="familiy has-text-black">
<!-- Header -->
<header class="py-4 header-gradient">
    <section class="columns">
        <div class="column is-one-quarter">
          <span class="level-item">
            <img src="/static/img/logoSmall.svg" alt="Logo pequeño de Onlywatch" class="is-hidden-desktop-only is-hidden-tablet-only"/>
            <h3 class="has-text-centered pl-3 pt-3 is-size-4 is-uppercase has-text-weight-bold letter-spacing">Onlywatch</h3>
          </span>
        </div>
        <div class="column is-half">
            <h1 class="title is-1 has-text-centered mali letter-spacing has-text-black">
                Registro
            </h1>
        </div>
    </section>
</header>

<main class="hero is-medium fondo">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-10-tablet is-10-desktop is-8-widescreen">
                    <div class="card-content card-gradient">
                        <header
                                class="is-align-content-center is-align-items-center is-justify-content-center"
                        >
                            <div
                                    class="is-flex is-align-items-center is-justify-content-center"
                            >
                                <img
                                        src="/static/img/logoSmall.svg"
                                        alt=""
                                        class="image is-128x128"
                                />
                            </div>
                            <p class="is-bold is-size-4 has-text-centered">
                                <span class="is-size-2">ONLYWATCH</span>
                            </p>
                        </header>
                        <div class="content">
                            <form action="" method="POST" class="mt-4 ml-4 mr-4">
                                {% csrf_token %}
                                <div class="field mb-4">
                                    <input
                                            type="text"
                                            name="username"
                                            id="username"
                                            placeholder="Nombre de usuario"
                                            class="input"
                                            required
                                    />
                                </div>
                                <div class="field mb-4">
                                    <input
                                            type="text"
                                            name="nombre_completo"
                                            id="nombre_completo"
                                            placeholder="Nombre y Apellidos"
                                            class="input"
                                            required
                                    />
                                </div>
                                <div class="field mb-4">
                                    <input
                                            type="email"
                                            name="email"
                                            id="email"
                                            placeholder="Correo Electrónico"
                                            class="input"
                                            required
                                    />
                                </div>
                                <div class="control has-icons-left">
                                    <div class="field has-addons">
                                        <div class="control is-expanded">
                                            <input type="password" id="password1" name="password1"
                                                   placeholder="Contraseña" class="input is-medium is-fullwidth"
                                                   required/>
                                            <span class="icon is-left has-text-black">
                            <i class="fa-solid fa-lock"></i>
                          </span>
                                        </div>
                                        <div class="control">
                                            <button type="button" class="button is-medium"
                                                    id="togglePasswordVisibility1"
                                                    style=" border: 2px solid #842507; background-color: #F2D9CD;">
                                <span class="icon is-small has-text-black">
                                    <i class="fa-solid fa-eye"></i>
                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="field mt-4 mb-5">
                                    <div class="control has-icons-left">
                                        <div class="field has-addons">
                                            <div class="control is-expanded">
                                                <input type="password" id="password2" name="password2"
                                                       placeholder="Repetir Contraseña"
                                                       class="input is-medium is-fullwidth" required/>
                                                <span class="icon is-left has-text-black">
                                <i class="fa-solid fa-lock"></i>
                              </span>
                                            </div>
                                            <div class="control">
                                                <button type="button" class="button is-medium"
                                                        id="togglePasswordVisibility2"
                                                        style=" border: 2px solid #842507; background-color: #F2D9CD;"
                                                        on-cl>
                                    <span class="icon is-small has-text-black">
                                        <i class="fa-solid fa-eye"></i>
                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field mt-4 mb-3">
                                    <button
                                            type="submit"
                                            class="bg_footer button is-fullwidth is-size-5"
                                            style="height: 52px"
                                            value="Save"
                                    >
                                        <strong class="has-text-centered">Acceder</strong>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <footer>
                            <p class="has-text-centered has-text-white is-size-6">
                                ¿Dispones de una cuenta?
                                <a href="{% url 'login' %}" class="register"
                                >Inicia Sesión</a
                                >
                            </p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% for e in errores %}

    <p style="color: red">{{ e }}</p>

{% endfor %}

<!-- Footer -->
{% include "footer.html" %}
<script src="/static/js/index.js"></script>
</body>
</html>
