<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script
      src="https://kit.fontawesome.com/2eb7a633b0.js"
      crossorigin="anonymous"
    ></script>
      
    <link rel="stylesheet" href="/static/bulma/css/style.css" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body class="familiy has-text-black">
    <!-- Header -->
    <header class="py-4 header-gradient">
      <section class="columns">
        <div class="column is-one-quarter is-flex is-align-content-start">
          <span class="level-item ml-4">
            <img
              src="/static/img/logoSmall.svg"
              alt="Logo pequeño de Onlywatch"
              class="is-hidden-mobile"
            />
          </span>
        </div>
        <div class="column is-half">
          <h1 class="title is-1 has-text-centered mali letter-spacing has-text-black">
            Cambiar Contraseña
          </h1>
        </div>
      </section>
    </header>

    <main class="hero is-medium fondo">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-10-tablet is-10-desktop is-6-widescreen">
              <div class="card-content card-gradient">
                <nav
                  class="is-align-content-center is-align-items-center is-justify-content-center"
                >
                    <div
                    class="is-flex is-align-items-center is-justify-content-center"
                  >
                    <img
                      src="/static/img/logoSmall.svg"
                      alt=""
                      class="image is-128x128"
                    />
                  </div>
                  <p class="is-size-2 is-bold has-text-centered">ONLYWATCH</p>
                  <p class="is-size-5 is-bold has-text-centered pt-2 pretty">
                    Cambio de Contraseña
                  </p> 
                </nav> 
                <div class="content">
                  <form action="" class="mt-3 ml-4 mr-4">
                    <div class="field mt-6 mb-6">
                      <div class="control has-icons-left">
                        <div class="field has-addons">
                          <div class="control is-expanded">
                            <input type="password" id="password1" name="password" placeholder="Contraseña" class="input is-medium is-fullwidth" required />
                            <span class="icon is-left has-text-black">
                              <i class="fa-solid fa-lock"></i>
                            </span>
                          </div>
                          <div class="control">
                              <button type="button" class="button is-medium" id="togglePasswordVisibility1" style=" border: 2px solid #842507; background-color: #F2D9CD;">
                                  <span class="icon is-small has-text-black">
                                      <i class="fa-solid fa-eye"></i>
                                  </span>
                              </button>
                          </div>
                        </div>
                    </div>
                    <div class="field mt-6 mb-6">
                        <div class="control has-icons-left">
                            <div class="field has-addons">
                              <div class="control is-expanded">
                                <input type="password" id="password2" name="password2" placeholder="Contraseña" class="input is-medium is-fullwidth" required />
                                <span class="icon is-left has-text-black">
                                  <i class="fa-solid fa-lock"></i>
                                </span>
                              </div>
                              <div class="control">
                                  <button type="button" class="button is-medium" id="togglePasswordVisibility2"  style=" border: 2px solid #842507; background-color: #F2D9CD;" on-cl>
                                      <span class="icon is-small has-text-black">
                                          <i class="fa-solid fa-eye"></i>
                                      </span>
                                  </button>
                              </div>
                            </div>
                        </div>
                    </div>
                        <div class="field mt-6 mb-6">
                            <button type="submit" class="bg_footer button is-fullwidth is-size-5">
                                <strong class="has-text-centered">Acceder</strong>
                            </button>
                        </div>
                    </div>
                  </form>
                </div>
                <footer>
                  <p class="has-text-centered has-text-white is-size-6">
                    Regresar a
                    <a href="{% url 'login' %}" class="register">
                      Inicia Sesión</a
                    >
                  </p>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="bg_footer is-align-items-center pb-3">
      <main class="columns is-align-items-center">
        <div class="izquierda column is-one-third">
          <div
            class="container is-flex is-flex-direction-column is-align-items-center"
          >
            <section class="level-item is-size-2 is-uppercase has-text-black">
              <img
                src="/static/img/logo_footer.svg"
                alt="Imagen pequeña de una cinta de carrete antigua"
                 class="is-hidden-desktop-only is-hidden-tablet-only"
              />
              <h4 class="pl-4 mali">Onlywatch</h4>
            </section>
            <p class="ml-5 has-text-justified ml-5 has-text-justified pl-5 pr-5">
              Acercamos información de películas y series al alcance de todos,
              para promover la apreciación cultural y el entretenimiento.
            </p>
          </div>
        </div>
        <div
          class="centro column is-one-third is-flex is-align-items-center has-text-centered"
        >
          <div
            class="container is-flex is-flex-direction-column is-align-items-center"
          >
            <p class="is-size-4 mali">Contacta con nosotros</p>
            <div class="has-text-justified">
              <p>
                <i class="fa-solid fa-phone pr-3 fa-lg pb-1"></i>+34 602481007
              </p>
              <p>
                <i
                  class="fa-regular fa-envelope pr-3 fa-lg pt-1 has-text-black"
                ></i
                ><a href="mailto:onlywatch@gmail.es" class="link"
                  >onlywatch@gmail.es</a
                >
              </p>
            </div>
            <div class="redes pt-2">
              <a href="" class="pr-3 link"
                ><i class="fa-brands fa-facebook fa-2x"></i
              ></a>
              <a href="" class="pl-2 pr-2 link"
                ><i class="fa-brands fa-instagram fa-2x"></i
              ></a>
              <a href="" class="pl-3 link"
                ><i class="fa-brands fa-x-twitter fa-2x"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="derecha column is-one-third">
          <div
            class="container is-flex is-flex-direction-column is-align-items-center"
          >
            <p class="is-size-4 mali">Acerca de</p>
            <ul class="panel-list has-text-justified">
              <li>
                <a href="" class="link has-text-black"
                  >Politica de Privacidad</a
                >
              </li>
              <li>
                <a href="" class="link has-text-black">Aviso de Privacidad</a>
              </li>
              <li>
                <a href="" class="link has-text-black">Politica de Cookies</a>
              </li>
            </ul>
          </div>
        </div>
      </main>
    </footer>
    <script src="/static/js/index.js"></script>
  </body>
</html>
