{% include 'header_home_usuario.html' %}
<h1 class="has-text-centered is-size-3 mb-3">Resultados de búsqueda: <span>{{ texto }}</span></h1>
<div class="container">
    {% if peliculas %}
        <div class="mb-2 p-5 ">
            <h2 class="is-size-4 pb-5">Películas</h2>
            <div class="columns is-multiline is-centered is-mobile">
                {% for pelicula in peliculas %}
                    <div class="column is-one-fifth-fullhd is-one-quarter-widescreen is-one-quarter-desktop is-one-third-tablet is-full-mobile">
                        <div class="card has-text-centered">
                            <a href="{% url 'pelicula' pelicula.id %}">
                                <div class="card-image">
                                    <figure class="image is-2by3">
                                        <img src="{{ pelicula.img }}" alt="Imagen de {{ pelicula.nombre }}">
                                    </figure>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if series %}
        <div class=" mt-2 mb-5 p-5">
            <h2 class="is-size-4 pb-5">Series</h2>
            <div class="columns is-multiline is-centered is-mobile">
                {% for serie in series %}
                    <div class="column is-one-fifth-fullhd is-one-quarter-widescreen is-one-quarter-desktop is-one-third-tablet is-full-mobile">
                        <div class="card has-text-centered">
                            <a href="{% url 'serie' serie.id %}">
                                <div class="card-image">
                                    <figure class="image is-2by3">
                                        <img src="{{ serie.img }}" alt="Imagen de {{ serie.nombre }}">
                                    </figure>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if not peliculas and not series %}
        <div class="has-text-centered">
            <h2 class="is-size-4 pb-5">No se encontraron resultados de búsqueda</h2>
        </div>
    {% endif %}
</div>
{% include 'footer.html' %}
