{% include 'header_home_usuario.html' %}
    <h1>Resultados de búsqueda</h1>
    <h2>Películas</h2>
    {% if peliculas != 0 %}
        <div class="columns is-multiline is-centered is-mobile">
            {% for pelicula in peliculas %}
                <div class="column is-one-fifth-fullhd is-one-quarter-widescreen is-one-quarter-desktop is-one-third-tablet is-full-mobile">
                    <div class="card has-text-centered">
                        <a href="{% url 'pelicula' pelicula.id %}">
                            <div class="card-image">
                                <figure class="image is-2by3">
                                    <img src="{{ pelicula.img }}" alt="Imagen de {{ pelicula.nombre }}">
                                </figure>
                            </div>
                        </a>

                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No se encontraron películas, con los parametros de busqueda</p>
    {% endif %}
    <h2>Series</h2>
    {% if series != 0 %}
        <div class="columns is-multiline is-centered is-mobile">
            {% for serie in series %}
                <div class="column is-one-fifth-fullhd is-one-quarter-widescreen is-one-quarter-desktop is-one-third-tablet is-full-mobile">
                    <div class="card has-text-centered">
                        <a href="{% url 'serie' serie.id %}">
                            <div class="card-image">
                                <figure class="image is-2by3">
                                    <img src="{{ serie.img }}" alt="Imagen de {{ serie.nombre }}">
                                </figure>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No se encontraron películas, con los parametros de busqueda</p>
    {% endif %}

{% include 'footer.html' %}