{% include 'header_home_usuario.html' %}
    
    {% load static %}
    {% block content %}
    {% csrf_token %}
    <!-- Main content -->
    <!-- Gallery | Cards @a7v8x-->
    <main class="column mb-6 mt-5">
       <!-- Este apartado se puede reutilizar en la pagina principal (usuarios no registrados) -->
       <!-- Hasta que no se tengan las tablas con los datos no se puede hacer los filtros de las películas-->
       <div class="is-centered mr-5 ml-5">
       <h1 class="is-bold is-uppercase pb-6 is-size-1 has-text-centered mali" style="font-weight: 900">Series </h1>
            <div class="columns is-multiline is-mobile">
                {% for s in series %}
                    <div class="column is-one-quarter-widescreen is-one-quarter-desktop is-one-quarter-tablet is-half-mobile">
                        <a href="{% url 'serie' s.id %}">
                            <div class="card">
                                <div class="card-image ">
                                    <figure class="image is-2by3">
                                        <img src="{{ s.img }}" alt="Imagen de la película {{ s.nombre }}">
                                    </figure>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>  
        </div>
    </main>

    {% endblock %}
    {% include "footer.html" %}
    <script src="{% static 'js/navbar.js' %} "></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.10.2/cdn.js'></script>
</body>
</html>