{% include 'header_home_usuario.html' %}

{% load static %}
{% block content %}
    {% csrf_token %}
    <!-- Main content -->
    <!-- Gallery | Cards @a7v8x-->
    <main class="column mb-6 mt-5">
        <!-- Este apartado se puede reutilizar en la pagina principal (usuarios no registrados) -->
        <!-- Hasta que no se tengan las tablas con los datos no se puede hacer los filtros de las películas-->
        <div class="is-centered mr-5 ml-5">
            <h1 class="is-bold is-uppercase pb-6 is-size-3 has-text-centered" style="font-weight: 900">Series </h1>
            <div class="columns is-multiline is-mobile">
                {% for s in page_obj %}
                    <div class="column is-one-fifth-fullhd-only is-one-quarter-widescreen is-one-quarter-desktop is-one-third-tablet is-full-mobile">
                        <a href="{% url 'serie' s.id %}">
                            <div class="card">
                                <div class="card-image ">
                                    <figure class="image is-2by3">
                                        <img src="{{ s.img }}" alt="Imagen de la película {{ s.nombre }}">
                                    </figure>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="mt-5">
            <nav class="pagination is-small is-centered" role="navigation" aria-label="pagination">
                <ul id="pagination-list" class="pagination-list">
                    {% if page_obj.number > 2 %}
                        <li><a href="?page=1" class="pagination-link is-size-6 has-text-black"
                               aria-label="Goto page 1">1</a></li>
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                    {% endif %}
                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li><a class="pagination-link is-size-6 has-text-black" aria-label="Page {{ i }}"
                                   aria-current="page">{{ i }}</a></li>
                        {% elif page_obj.number > i|add:-2 and page_obj.number < i|add:2 %}
                            <li><a href="?page={{ i }}" class="pagination-link is-size-6 has-text-black"
                                   aria-label="Goto page {{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.number < page_obj.paginator.num_pages|add:-1 %}
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                        <li><a href="?page={{ page_obj.paginator.num_pages }}"
                               class="pagination-link is-size-6 has-text-black"
                               aria-label="Goto page {{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </main>

{% endblock %}
{% include "footer.html" %}
<script src="{% static 'js/navbar.js' %} "></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.10.2/cdn.js'></script>
