{% include 'header_home_usuario.html' %}

{% load custom_filters %}
{% load static %}
{% csrf_token %}
<!-- Main content -->
<!-- Gallery | Cards @a7v8x-->
<main class="column mb-6 mt-5">
    <div class="columns is-centered" style="margin: 0 auto">
        <div class="slider">
            <div class="slider__content">
                <!-- Slider items: 10 min <> 15-20 max -->
                {% for psh in header %}
                    <div class="slider__item">
                        {% if psh|class_name == 'serie' %}
                            <a href="{% url 'serie' psh.id %}">
                        {% else %}
                            <a href="{% url 'pelicula' psh.id %}">
                        {% endif %}
                        <img class="slider__image" src="{{ psh.img }}" alt="Imagen de la pelicula {{ psh.nombre }}">
                        <div class="slider__info">
                            <h2>{{ psh.nombre }}</h2>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Este apartado se puede reutilizar en la pagina principal (usuarios no registrados) -->
    <!-- Hasta que no se tengan las tablas con los datos no se puede hacer los filtros de las películas-->

    <div class="mr-5 ml-5 mt-5" id="series_peliculas">
        <div class="columns is-multiline is-centered is-mobile">
            {% for item in page_obj %}
                <div class="column is-one-fifth-fullhd is-one-quarter-widescreen is-one-quarter-desktop is-one-third-tablet is-full-mobile">
                    <div class="card has-text-centered">
                        {% if item|class_name == 'serie' %}
                            <a href="{% url 'serie' item.id %}">
                        {% else %}
                            <a href="{% url 'pelicula' item.id %}">
                        {% endif %}
                        <div class="card-image">
                            <figure class="image is-2by3">
                                <img src="{{ item.img }}" alt="Imagen de {{ item.nombre }}">
                            </figure>
                        </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="mt-5">
        <nav class="pagination is-small is-centered" role="navigation" aria-label="pagination">
            <ul id="pagination-list" class="pagination-list">
                {% if page_obj.number > 2 %}
                    <li><a href="?page=1" class="pagination-link is-size-6 has-text-black"
                           aria-label="Goto page 1">1</a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li><a class="pagination-link is-size-6 has-text-black" aria-label="Page {{ i }}"
                               aria-current="page">{{ i }}</a></li>
                    {% elif page_obj.number > i|add:-2 and page_obj.number < i|add:2 %}
                        <li><a href="?page={{ i }}" class="pagination-link is-size-6 has-text-black"
                               aria-label="Goto page {{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.number < page_obj.paginator.num_pages|add:-1 %}
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><a href="?page={{ page_obj.paginator.num_pages }}"
                           class="pagination-link is-size-6 has-text-black"
                           aria-label="Goto page {{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</main>


{% include "footer.html" %}
<script src="{% static 'js/navbar.js' %} "></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.10.2/cdn.js'></script>
