{% include 'header_home_usuario.html' %}

{% load custom_filters %}
{% load static %}
{% csrf_token %}
<!-- Main content -->
<!-- Gallery | Cards @a7v8x-->
<main class="column mb-6 mt-5">
    <div class="columns is-centered">
        <div class="slider" x-data="{start: true, end: false}">
            <div class="slider__content" x-ref="slider"
                 x-on:scroll.debounce="$refs.slider.scrollLeft == 0 ? start = true : start = false; Math.abs(($refs.slider.scrollWidth - $refs.slider.offsetWidth) - $refs.slider.scrollLeft) < 5 ? end = true : end = false;">
                <!-- Slider items: 10 min <> 15-20 max -->
                {% for psh in header %}
                    <div class="slider__item">
                        {% if psh|class_name == 'serie' %}
                            <a href="{% url 'serie' psh.id %}">
                        {% else %}
                            <a href="{% url 'pelicula' psh.id %}">
                        {% endif %}
                        <img class="slider__image" src="{{ psh.img }}" alt="Imagen de la pelicula {{ psh.nombre }}">
                        <div class="slider__info">
                            <h2>{{ psh.nombre }}</h2>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="slider__nav has-text-black is-bold">
                <button class="slider__nav__button"
                        x-on:click="$refs.slider.scrollBy({left: $refs.slider.offsetWidth * -1, behavior: 'smooth'});"
                        x-bind:class="start ? '' : 'slider__nav__button--active'">Previo
                </button>
                <button class="slider__nav__button"
                        x-on:click="$refs.slider.scrollBy({left: $refs.slider.offsetWidth, behavior: 'smooth'});"
                        x-bind:class="end ? '' : 'slider__nav__button--active'">Siguiente
                </button>
            </div>
        </div>
    </div>
    <!-- Este apartado se puede reutilizar en la pagina principal (usuarios no registrados) -->
    <!-- Hasta que no se tengan las tablas con los datos no se puede hacer los filtros de las películas-->
    <div class="is-centered mr-5 ml-5" id="series_peliculas">
        <div class="columns is-multiline is-mobile">
            {% for item in page_obj %}
                <div class="column is-one-quarter-widescreen is-one-quarter-desktop is-one-quarter-tablet is-half-mobile">
                    <div class="card">
                        {% if item|class_name == 'serie' %}
                            <a href="{% url 'serie' item.id %}">
                        {% else %}
                            <a href="{% url 'pelicula' item.id %}">
                        {% endif %}
                        <div class="card-image">
                            <figure class="image is-2by3">
                                <img src="{{ item.img }}" alt="Imagen de {{ item.nombre }}">
                            </figure>
                        </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="mt-5">
        <nav class="pagination is-small is-centered" role="navigation" aria-label="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" id="pagination-previous"
                   class="pagination-previous">Previous</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" id="pagination-next" class="pagination-next">Next
                    page</a>
            {% endif %}
            <ul id="pagination-list" class="pagination-list">
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li><a class="pagination-link" aria-label="Page {{ i }}" aria-current="page">{{ i }}</a></li>
                    {% else %}
                        <li><a href="?page={{ i }}" class="pagination-link" aria-label="Goto page {{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</main>


{% include "footer.html" %}
<script src="{% static 'js/navbar.js' %} "></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.10.2/cdn.js'></script>
