{% include 'header_home_usuario.html' %}

{% load custom_filters %}
{% load static %}
{% csrf_token %}
<!-- Main content -->
<!-- Gallery | Cards @a7v8x-->
<main class="column mb-6 mt-5">
    <div class="columns is-centered" style="margin: 0 auto">
        <div class="slider">
            <div class="slider__content">
                <!-- Slider items: 10 min <> 15-20 max -->
                {% for psh in header %}
                    <div class="slider__item">
                        {% if psh|class_name == 'serie' %}
                            <a href="{% url 'serie' psh.id %}"></a>
                        {% else %}
                            <a href="{% url 'pelicula' psh.id %}"></a>
                        {% endif %}
                        <img class="slider__image" src="{{ psh.img }}" alt="Imagen de la pelicula {{ psh.nombre }}">
                        <div class="slider__info " style="width: 100%">
                            <h2>{{ psh.nombre }}</h2>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Este apartado se puede reutilizar en la pagina principal (usuarios no registrados) -->
    <!-- Hasta que no se tengan las tablas con los datos no se puede hacer los filtros de las películas-->
    <div class="mr-5 ml-5 mt-5" id="series_peliculas">
        <div class="mt-4 pl-5 mb-5 is-flex filtros" style="gap: 2rem">
            <p class="is-align-content-center"><span><i class="fa-solid fa-filter fa-lg pr-2"
                                                        style="color: #be4713;"></i> Filtros: </span></p>
            <div class="dropdown">
                <div class="dropdown-trigger">
                    <button class="button is-small has-text-black has-text" aria-haspopup="true"
                            aria-controls="dropdown-menu">
                        Año de Estreno <span><i class="fa-solid fa-caret-down pl-3 fa-lg"></i></span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content"
                         style="background: linear-gradient(180deg, rgba(251,117,46,0.9) 0%, rgba(249,91,22,0.9) 50%, rgba(194,46,12,0.9) 100%) !important;">
                        <div class="slider-container">
                            <div class="year-display dropdown-item has-text-black" style="font-weight: 800"
                                 id="yearDisplay">{% now 'Y' %}</div>
                            <div class="flex-container ml-2 mr-2">
                                <input type="range" id="yearSlider" class="yearSlider" min="1900" max="{% now 'Y' %}"
                                       value="{% now 'Y' %}"
                                       oninput="updateYearDisplay(this.value)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="button is-small has-text-black has-text">Género <span><i
                    class="fa-solid fa-caret-down pl-3 fa-lg"></i></span></button>
            <button class="button is-small has-text-black has-text">Plataformas <span><i
                    class="fa-solid fa-caret-down pl-3 fa-lg"></i></span></button>
            <button class="button is-small has-text-black has-text">Calificación <span><i
                    class="fa-solid fa-caret-down pl-3 fa-lg"></i></span></button>
            <button class="button is-small has-text-black has-text">Reiniciar <span><i
                    class="fa-solid fa-caret-down pl-3 fa-lg"></i></span></button>
        </div>
        <div class="columns is-multiline is-centered is-mobile">

            {% for item in page_obj %}
                <div class="column is-one-fifth-fullhd is-one-quarter-widescreen is-one-quarter-desktop is-one-third-tablet is-full-mobile">
                    <div class="card has-text-centered">
                        {% if item|class_name == 'serie' %}
                            <a href="{% url 'serie' item.id %}">
                                <div class="card-image">
                                    <figure class="image is-2by3">
                                        <img src="{{ item.img }}" alt="Imagen de {{ item.nombre }}">
                                    </figure>
                                </div>
                            </a>
                        {% else %}
                            <a href="{% url 'pelicula' item.id %}">
                                <div class="card-image">
                                    <figure class="image is-2by3">
                                        <img src="{{ item.img }}" alt="Imagen de {{ item.nombre }}">
                                    </figure>
                                </div>
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="mt-5">
        <nav class="pagination is-small is-centered" role="navigation" aria-label="pagination">
            <ul id="pagination-list" class="pagination-list">
                {% if page_obj.number > 2 %}
                    <li><a href="?page=1" class="pagination-link is-size-6 has-text-black"
                           aria-label="Goto page 1">1</a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li><a class="pagination-link is-size-6 has-text-black" aria-label="Page {{ i }}"
                               aria-current="page">{{ i }}</a></li>
                    {% elif page_obj.number > i|add:-2 and page_obj.number < i|add:2 %}
                        <li><a href="?page={{ i }}" class="pagination-link is-size-6 has-text-black"
                               aria-label="Goto page {{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.number < page_obj.paginator.num_pages|add:-1 %}
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><a href="?page={{ page_obj.paginator.num_pages }}"
                           class="pagination-link is-size-6 has-text-black"
                           aria-label="Goto page {{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</main>


{% include "footer.html" %}
<script src="{% static '/js/filtros.js' %}"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.10.2/cdn.js'></script>
