<!DOCTYPE html>
<html lang="en">
<head>
        {% load static %}
    <meta charset="UTF-8">
    <title>Información Usuario</title>
    <link rel="stylesheet" href="{% static 'bulma/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'perfil_usuario.css' %}">
    <script src="https://kit.fontawesome.com/b9d5886cee.js" crossorigin="anonymous"></script>
</head>
<body style="background-color: #FFE8D3" class="is-size-4">
    {% load static %}
    {% block content %}
    {% csrf_token %}
    <header>
         <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: #FFE8D3">
                <div class="navbar-brand">
                    <a class="navbar-item" href="#">
                        <img src="/static/img/logo_sinfondo%201-min.svg" alt="">
                    </a>
    
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                       data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
    
                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item">
                            Inicio
                        </a>
                        <a class="navbar-item" href=""><i class="fa-solid fa-magnifying-glass "></i></a>
                    </div>
                </div>
                 <div class="navbar-end">
                     <div class="navbar-item">
                         <i class="fa-regular fa-bell"></i>
                     </div>
                    <div class="navbar-item">
                        <div class="button is-size-5 " style="background-color: #FDA657; border-radius: 15px">
                            <p class="ml-2 " style="color: #0a0a0a">Bienvenido, {{ user.username }}</p>
                        </div>
                    </div>
                </div>
         </nav>
    </header>
    

    <main class=" ml-6 pl-4 mr-6 pr-4">
        <h1 class="is-size-2 ">Bienvenido, {{ user.nombre_completo }} </h1>
        <div style="background-color: #FFB36D; border-radius: 15px" class="mt-4">
            <form action="" method="post" class="columns p-3">
                {% csrf_token %}
                <div class="column is-one-quarter is-flex is-justify-content-center has-text-centered is-align-content-center px-0 p-2 "
                     style="flex-direction: column">
                    {% if user.img %}
                        <label for="file-input" class="is-flex is-justify-content-center">
                            <img src="{{ user.img }}" alt="" style="border-radius: 50%;"
                                 class="is-flex is-justify-content">
                        </label>
                        <input id="file-input" type="file" accept="image/png, image/gif, image/jpeg"
                               style="display: none"/>
                        <p class="has-text-grey is-size-6 p-2">Pincha en la imagen para <br> cambiar la foto de
                            perfil
                        </p>
                    {% else %}
                        <label for="file-input" class="is-flex is-justify-content-center">
                            <img src="{% static 'img/perfilenblanco.webp' %}"
                                 style="border-radius: 50%; width: 50%">
                        </label>
                        <input id="file-input" type="file" accept="image/png, image/gif, image/jpeg"
                               style="display: none"/>
                        <p class="has-text-grey is-size-6 p-2">Pincha en la imagen para <br> cambiar la foto de
                            perfil
                        </p>
                    {% endif %}
                    <label class="mt-4">Fecha de nacimiento:</label>
                    {% if user.fecha_nacimiento %}
                        <section class="is-flex is-justify-content-center mt-2">
                            <input type="text" value="{{ user.fecha_nacimiento }}" class="input is-rounded"
                                   style="width: 75%; background-color: #D9D9D9;">
                        </section>
                    {% else %}
                        <section class="is-flex is-justify-content-center mt-2">
                            <input type="text" placeholder="Tu fecha de nacimiento" class="input is-rounded "
                                   style="width: 75%; background-color: #D9D9D9;">
                        </section>
                    {% endif %}
                    <label class=" mt-4 ">Sexo:</label>
                    <section class="is-flex is-justify-content-center mt-2">
                        <input type="text" value="{{ user.sexo }}" class="input is-rounded"
                               style="width: 75%; background-color: #D9D9D9;">
                    </section>
                </div>
                <div class="column px-0 p-2 ">
                    <h2 class="is-size-3">Configura tu perfil</h2>
                    <section class="columns is-flex center is-multiline">
                        <div class="column mt-3 is-flex is-flex-direction-column center is-full-mobile">
                            <label >Nombre de Usuario:</label>
                            <input type="text" value="{{ user.username }}" class="input is-rounded mt-2 "
                                   style="background-color: #D9D9D9; width: 50%">
                            <label class="mt-3" >Nombre Completo:</label>
                            <input type="text" value="{{ user.nombre_completo }}" class="input is-rounded mt-2"
                                   style="background-color: #D9D9D9; width: 50%">
                        </div>
                        <div class="column mt-3 is-flex is-flex-direction-column is-full-mobile">
                            <label for="">Correo electrónico:</label>
                            <input type="text" value="{{ user.email }}" class="input is-rounded mt-2"
                                   style="background-color: #D9D9D9; width: 50%" disabled>
                            <label class="mt-3">Contraseña:</label>
                            <input type="password" value="xxxxxxxx" class="input is-rounded mt-2 int"
                                   style="background-color: #D9D9D9; width: 50%" disabled>
                            <div style="width: 25%">
                                <button type="button"
                                        class="js-modal-trigger button is-info is-rounded mt-1 is-fullwidth-mobile"
                                        data-target="modal-js-example">
                                    Cambiar contraseña
                                </button>
                            </div>
                        </div>
                    </section>
                    <section class="is-flex is-flex-direction-column">
                        <div class="is-flex">
                            <h3>Plataformas:</h3>
                            <button type="button" class="js-modal-trigger buton" data-target="prueba"
                                    style="background-color: transparent; border: none"><i
                                    class="fa-solid fa-circle-plus"></i></button>
                        </div>

                        <div class="columns is-multiline is-mobile my-2">
                            {% for p in plataformas %}
                                <div class="column is-2-desktop is-3-tablet is-6-mobile center-image">
                                    <figure class="is-128x128">
                                        <img src="{{ p.img.url }}" alt="{{ p.nombre }}">
                                    </figure>
                                </div>
                            {% empty %}
                                <p>No dispones de plataformas vinculadas.</p>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </form>
            <div id="modal-js-example" class="modal">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <div class="box">
                        <!-- Formulario para solicitar el envío del código de verificación -->
                        <form action="{% url 'send_verification_code' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Enviar código de verificación</button>
                        </form>

                        <!-- Formulario para introducir el código de verificación -->
                        <form action="{% url 'verify_code' %}" method="post">
                            {% csrf_token %}
                            <input type="text" name="code" placeholder="Introduce el código de verificación">
                            <button type="submit">Verificar código</button>
                        </form>
                    </div>
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
            </div>
            <div id="prueba" class="modal">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <div class=" box columns is-multiline is-mobile platform-container">
                        {% for p in totales %}
                            <div class="platform  {% if p in plataformas %}vinculada{% else %}no-vinculada{% endif %} column is-2-desktop is-3-tablet is-6-mobile center-image">
                                <figure class="is-128x128">
                                    <img src="{{ p.img.url }}" alt="{{ p.nombre }}" id="plataforma_{{ p.id }}" class="plataforma-imagen">
                                </figure>

                                <!-- Agrega el icono "+" o "-" dependiendo de si la plataforma está vinculada -->
                                {% if p in plataformas %}
                                    <i class="fas fa-minus"></i>
                                {% else %}
                                    <i class="fas fa-plus"></i>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
            </div>
            <div class="is-flex is-justify-content-end">
                <button class="js-modal-trigger button is-info " data-target="prueba">
                    prueba
                </button>
            </div>

        </div>
    </main>
    {% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const imagenesPlataforma = document.querySelectorAll('.plataforma-imagen');
            imagenesPlataforma.forEach(function (imagen) {
                imagen.addEventListener('click', function () {
                    const plataformaId = imagen.id.split('_')[1];
                    fetch(`/vincular_desvincular_plataforma/${plataformaId}/`)
                        .then(response => {
                            if (response.ok) {
                                // Redirigir a la página de configuración después de realizar la acción
                                window.location.href = "{% url 'configuracion' %}";
                            } else {
                                console.error('Error al vincular/desvincular la plataforma');
                            }
                        })
                        .catch(error => console.error('Error en la solicitud:', error));
                });
            });
        });
    </script>
    <script src="{% static 'js/modals.js' %}"></script>
</body>
</html>